<form action="#" class="form__block" method="POST">
    <div class="form__row">
        <label class="form__label" for="form__username">Pseudonyme</label>
        <input class="form__input" id="form__username" type="text">
    </div>
    <div class="form__row">
        <span class="form__label">Choix de l'utilisateur</span>
        <div class="form__row--flex">
            <input class="form__input form__input--radio" id="form___choose_user_1" name="form___choose_user" type="radio">
            <label for="form___choose_user_1">Utilisateur</label>
        </div>
        <div class="form__row--flex">
            <input class="form__input form__input--radio" id="form___choose_user_2" name="form___choose_user" type="radio">
            <label for="form___choose_user_2">Admin</label>
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="">Message</label>
        <textarea class="form__input" id=""></textarea>
    </div>
    <div class="form__row">
        <input class="btn" type="submit" value="Envoyer">
    </div>
</form>