<form action="#" class="form__block" method="POST">
    <div class="form__row">
        <label class="form__label" for="form__username">Pseudonyme</label>
        <input class="form__input" id="form__username" type="text">
    </div>
    <div class="form__row">
        <span class="form__label">Choix de l'utilisateur</span>
        <div class="form__row--flex">
            <input class="form__input form__input--radio" id="form__choose_user" name="form__choose_who" type="radio">
            <label for="form__choose_user">Utilisateur</label>
        </div>
        <div class="form__row--flex">
            <input class="form__input form__input--radio" id="form__choose_admin" name="form__choose_who" type="radio">
            <label for="form__choose_admin">Administrateur</label>
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="form__message">Message</label>
        <textarea class="form__input" id="form__message"></textarea>
    </div>
    <div class="form__row">
        <input class="btn" type="submit" value="Envoyer">
    </div>
</form>