/* Block */
.form__block {
    background-color: #FFFFFF;
    min-height: 500px;
    padding: 20px 15px;
    width: 100%;
}

/* Row */
.form__row {
    display: block;
    margin-bottom: 20px;

    &--flex {
        align-items: center;
        display: flex;
        gap: 0 10px;
    }

    &:last-of-type {
        margin-bottom: unset;
    }
}

/* Label */
.form__label {
    display: block;
    font-weight: bold;
    margin-bottom: 2.5px;

    &::after {
        content: " :";
    }
}

/* Input */
.form__input {
    display: block;
    padding: 5px 10px;
    width: 100%;

    &--radio {
        display: flex;
        height: 15px;
        width: 15px;
    }
}

textarea.form__input {
    min-height: 200px;
    resize: none;
}

/* Button */
.btn {
    background-color: #060b0f;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    opacity: 0.75;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}