/* Main */
.main__block {
    align-items: center;
    border-radius: 5px;
    display: flex;
    filter: drop-shadow(0 0 5px #92929280);
    gap: 25px 50px;
    justify-content: center;
    max-width: 100%;
    padding: 10px 15px;
    width: 80%;
}

/* Conversation & Form */
app-conversation,
app-form {
    align-items: center;
    display: flex;
    max-height: 500px;
    width: 100%;
}

/** Responsive **/
@media screen and (max-width: 800px){
    /* Main */
    .main__block {
        flex-direction: column;
        width: 100%;
    }

    /* Conversation & Form */
    app-conversation,
    app-form {
        max-height: unset;
    }
}