<main class="main__block">
    <!-- Conversation -->
    <div class="conversation__block">
        <div class="conversation__history">
            <div *ngFor="let msg of messagesList; let i = index">
                <app-message [author]="msg.author" [dateTime]="msg.dateTime" [message]="msg.content" [style.background-color]="manageBackground(msg.author)"></app-message>
            </div>
        </div>

        <app-divider />

        <div class="conversation__view">
            <p class="center">
                En orange : les message(s) utilisateur 
                <br>
                En bleu : les message(s) administrateur
            </p>
        </div>
    </div>


    <!-- Form -->
    <form class="form__block" method="POST" (ngSubmit)="sendMessage()">
    <div class="form__row">
        <label class="form__label" for="form__fullname">Nom complet</label>
        <input disabled class="form__input" id="form__fullname" type="text" [value]=selectedUser>
    </div>
    <div class="form__row">
        <span class="form__label">Choix de l'utilisateur</span>
        <div class="form__row--flex">
            <input (click)="changeUser('userRole')" class="form__input form__input--radio" id="form__choose_user" name="form__choose_who" type="radio" checked>
            <label for="form__choose_user">Utilisateur simple</label>
        </div>
        <div class="form__row--flex">
            <input (click)="changeUser('adminRole')" class="form__input form__input--radio" id="form__choose_admin" name="form__choose_who" type="radio">
            <label for="form__choose_admin">Administrateur</label>
        </div>
    </div>
    <div class="form__row">
        <label class="form__label" for="form__message">Message</label>
        <textarea class="form__input" id="form__message" name="message" [(ngModel)]="formMessage"></textarea>
    </div>
    <div class="form__row">
        <input class="btn" type="submit" value="Envoyer">
    </div>
</form>
</main>
