.main__block {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px #92929280);
    justify-content: center;
    max-width: 100%;
    padding: 10px 15px;
    width: 425px;
}